<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- SAMPLE BEAN <bean id="helloWorld" class="com.tutorialspoint.HelloWorld">
		<property name="message" value="Hello World!"/> </bean> -->

	<!-- DATASOURCE -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/martin_dev" />
		<property name="username" value="devuser" />
		<property name="password" value="devuser" />
	</bean>

	<!-- Hibernate 5 SessionFactory Bean definition -->
	<bean id="HibernateSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>

	<!--  Plugin Library Tables -->
    <bean id="exampleCallDao" class="ch.zhaw.psit4.martin.db.examplecall.ExampleCallDao">
        <property name="sessionFactory" ref="HibernateSessionFactory" />
    </bean>
    <bean id="exampleCallService" class="ch.zhaw.psit4.martin.db.examplecall.ExampleCallService">
        <property name="exampleCallDao" ref="exampleCallDao"></property>
    </bean>

    <bean id="keywordDao" class="ch.zhaw.psit4.martin.db.keyword.KeywordDao">
        <property name="sessionFactory" ref="HibernateSessionFactory" />
    </bean>
    <bean id="keywordService" class="ch.zhaw.psit4.martin.db.keyword.KeywordService">
        <property name="keywordDao" ref="keywordDao"></property>
    </bean>
  
    <bean id="parameterDao" class="ch.zhaw.psit4.martin.db.parameter.ParameterDao">
        <property name="sessionFactory" ref="HibernateSessionFactory" />
    </bean>
    <bean id="parameterService" class="ch.zhaw.psit4.martin.db.parameter.ParameterService">
        <property name="parameterDao" ref="parameterDao"></property>
    </bean>
    
    <bean id="functionDao" class="ch.zhaw.psit4.martin.db.function.FunctionDao">
        <property name="sessionFactory" ref="HibernateSessionFactory" />
    </bean>
    <bean id="functionService" class="ch.zhaw.psit4.martin.db.function.FunctionService">
        <property name="functionDao" ref="functionDao"></property>
    </bean>

    <bean id="pluginDao" class="ch.zhaw.psit4.martin.db.plugin.PluginDao">
        <property name="sessionFactory" ref="HibernateSessionFactory" />
    </bean>
    <bean id="pluginService" class="ch.zhaw.psit4.martin.db.plugin.PluginService">
        <property name="pluginDao" ref="pluginDao"></property>
    </bean>

    <bean id="authorDao" class="ch.zhaw.psit4.martin.db.author.AuthorDao">
        <property name="sessionFactory" ref="HibernateSessionFactory" />
    </bean>
    <bean id="authorService" class="ch.zhaw.psit4.martin.db.author.AuthorService">
        <property name="authorDao" ref="authorDao"></property>
    </bean>

  	<!--  History Tables -->
    <bean id="historyItemDao" class="ch.zhaw.psit4.martin.db.historyitem.HistoryItemDAO">
        <property name="sessionFactory" ref="HibernateSessionFactory" />
    </bean>
    <bean id="historyItemService" class="ch.zhaw.psit4.martin.db.historyitem.HistoryItemService">
        <property name="historyItemDAO" ref="historyItemDao"></property>
    </bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="HibernateSessionFactory" />
	</bean>

	<!-- JAVA CLASSES -->

	<!-- package aiController -->
	<bean id="AIControllerFacade" class="ch.zhaw.psit4.martin.aiController.AIControllerFacade" scope="singleton">
	</bean>

	<!-- package boot -->


	<!-- package common -->


	<!-- package Frontend -->
	<bean id="FrontendController" class="ch.zhaw.psit4.martin.frontend.FrontendController" scope="singleton">
	</bean>


	<!-- package pluginlib -->
	<bean id="MartinContextAccessor" class="ch.zhaw.psit4.martin.pluginlib.MartinContextAccessor" scope="singleton">
	</bean>

	<bean id="PluginLibraryBootstrap" class="ch.zhaw.psit4.martin.pluginlib.PluginLibraryBootstrap" scope="singleton"/>

	<bean id="IPluginLibrary" factory-bean="PluginLibraryBootstrap" factory-method="boot" class="ch.zhaw.psit4.martin.pluginlib.IPluginLibrary" scope="singleton"/>
	
	<bean id="PluginFolderAccessor" class="ch.zhaw.psit4.martin.pluginlib.filesystem.PluginFolderAccessor">
		<constructor-arg value="plugins"/>
		<constructor-arg value="classpath:library.cfg.json"/>
	</bean>

	<!-- package requestProcessor -->
	<bean id="RequestProcessor" class="ch.zhaw.psit4.martin.requestprocessor.RequestProcessor" scope="singleton">
	</bean>
    <bean 
        id="NaturalLanguageAnalysisUtilities" 
        class="ch.zhaw.psit4.martin.requestprocessor.utils.NaturalLanguageAnalysisUtilities" 
        scope="singleton">
    </bean>
    <!-- <bean 
        id="StanfordCoreNLP" 
        class="edu.stanford.nlp.pipeline.StanfordCoreNLP" 
        scope="singleton" 
        factory-bean="NaturalLanguageAnalysisUtilities" 
        factory-method="bootStanfordNLP">
    </bean> -->

    <bean 
        id="StanfordCoreNLPClient" 
        class="edu.stanford.nlp.pipeline.StanfordCoreNLPClient" 
        scope="singleton" 
        factory-bean="NaturalLanguageAnalysisUtilities" 
        factory-method="bootStanfordNLPClient">
    </bean>
</beans>