<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- SAMPLE BEAN <bean id="helloWorld" class="com.tutorialspoint.HelloWorld">
		<property name="message" value="Hello World!"/> </bean> -->

	<!-- DATASOURCE -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/martin_dev" />
		<property name="username" value="devuser" />
		<property name="password" value="devuser" />
	</bean>

	<!-- Hibernate 5 SessionFactory Bean definition -->
	<bean id="HibernateSessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>

    <bean id="exampleCallDao" class="ch.zhaw.psit4.martin.pluginlib.db.ExampleCallDao">
        <property name="sessionFactory" ref="HibernateSessionFactory" />
    </bean>
    <bean id="exampleCallService" class="ch.zhaw.psit4.martin.pluginlib.db.ExampleCallService">
        <property name="exampleCallDao" ref="exampleCallDao"></property>
    </bean>

    <bean id="historyItemDao" class="ch.zhaw.psit4.martin.common.dao.HistoryItemDAO">
        <property name="sessionFactory" ref="HibernateSessionFactory" />
    </bean>
    <bean id="historyItemService" class="ch.zhaw.psit4.martin.common.service.HistoryItemService">
        <property name="historyItemDAO" ref="historyItemDao"></property>
    </bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="HibernateSessionFactory" />
	</bean>

	<!-- JAVA CLASSES -->

	<!-- package aiController -->
	<bean id="AIControllerFacade" class="ch.zhaw.psit4.martin.aiController.AIControllerFacade">
	</bean>

	<!-- package boot -->


	<!-- package common -->


	<!-- package Frontend -->
	<bean id="FrontendController" class="ch.zhaw.psit4.martin.frontend.FrontendController">
	</bean>


	<!-- package pluginlib -->

	<!-- package requestProcessor -->
	<bean id="RequestProcessor" class="ch.zhaw.psit4.martin.requestProcessor.RequestProcessor">
	</bean>




</beans>