<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>       
  <session-factory>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="ch.zhaw.psit4.martin.db.historyitem.HistoryItem"/>
    <mapping class="ch.zhaw.psit4.martin.db.response.Response"/>
    <mapping class="ch.zhaw.psit4.martin.db.request.Request"/>
    <mapping class="ch.zhaw.psit4.martin.db.examplecall.ExampleCall"/>
    <mapping class="ch.zhaw.psit4.martin.db.parameter.Parameter"/>
    <mapping class="ch.zhaw.psit4.martin.db.keyword.Keyword"/>
    <mapping class="ch.zhaw.psit4.martin.db.function.Function"/>
    <mapping class="ch.zhaw.psit4.martin.db.author.Author"/>
    <mapping class="ch.zhaw.psit4.martin.db.plugin.Plugin"/>
  </session-factory>
</hibernate-configuration>